.reviews {
  margin-top: -113px;

  // outline: 3px solid $special-border-lite-green-color; // специальные цыета для рамок по заданию
  // outline-offset: -3px; // специальные цыета для рамок по заданию
  @media (min-width: $tablet-width) {
    margin-top: -58px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -56px;
  }
}

.reviews__triangle {
  display: block;
  background-image: url("../img/triangle-top.svg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;

  max-width: 1201px;
  min-width: 320px;
  height: 57px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/triangle-top-tablet-desktop.svg");

    max-width: 100%;
    min-width: 769px;
  }
}

.reviews__block {
  margin-top: 35px;

  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;

  border-bottom: 1px solid $very-light-grey-color;

  @media (min-width: $tablet-width) {
    min-height: 240px;

    padding-top: 7px;
    padding-right: 68px;
    padding-left: 67px;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;

    background-color: $white-color;
  }
}

.reviews__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  padding-left: 1px;

  @media (min-width: $tablet-width) {
    font-size: 30px;

    padding-right: calc(168px - 60px);
    padding-left: calc(166px - 60px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
  }
}

.reviews__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  padding-top: 15px;
  padding-left: 4px;

  @media (min-width: $tablet-width) {
    font-size: 14px;

    padding-right: calc(158px - 60px);
    padding-left: calc(156px - 60px);

    span {
      padding-left: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }
}

.reviews__info-br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__menu {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;

    background-color: $white-color;
  }
}

.reviews__form-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;

    position: relative;
    left: -5px;
    bottom: 48px;
  }
}

.reviews__group {
  &:first-child {
    @media (min-width: $tablet-width) {
      position: relative;
      bottom: -1px;
      right: 22px;

      order: 1;

      min-width: calc(377px - 60px);
    }

    @media (min-width: $desktop-width) {
      top: 90px;
      bottom: 0;
      left: 104px;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      order: 3;

      width: 100%;

      margin-top: 23px;
      margin-left: 9px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 111px;
      margin-right: 57px;
      margin-left: 65px;
    }
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      display: block;

      height: 293px;

      order: 1;

      margin-right: 0;

      position: relative;
      top: 1px;
    }

    @media (min-width: $desktop-width) {
      margin-right: -203px;

      top: 90px;
    }
  }

  &:nth-child(4) {
    @media (min-width: $tablet-width) {
      position: relative;
      bottom: 18px;
      right: 23px;

      order: 1;

      min-width: calc(383px - 60px);
    }

    @media (min-width: $desktop-width) {
      top: 71px;
      bottom: 0;
      right: 104px;
    }
  }

  &:nth-child(5) {
    @media (min-width: $tablet-width) {
      order: 3;

      width: 100%;

      margin-left: 5px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 66px;
      margin-right: 53px;
    }
  }
}

.reviews__style {
  padding: 0;

  border-top: none;
  border-right: none;
  border-bottom: 1px solid $very-light-grey-color;
  border-left: none;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.reviews__style-contact {
  margin-top: 20px;
}

.reviews__style-emotions {
  padding-top: 17px;
}

.reviews__style-attractions {
  padding-top: 15px;
}

.reviews__items-contact {
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: -23px;
    margin-right: -25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    .reviews__li {
      &:first-child {
        margin-left: 55px;
      }

      &:nth-child(2) {
        margin-right: 4px;

        padding-top: 41px;
      }
    }
  }
}

.reviews__style-description {
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    margin-top: -36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -17px;
    margin-left: 60px;
    margin-right: 61px;
  }
}

.reviews__legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.reviews__legend-contact {
  @media (min-width: $tablet-width) {
    padding-top: 4px;
    padding-right: 69px;
    padding-left: 57px;

    position: relative;
    left: 6px;
  }

  @media (min-width: $desktop-width) {
    left: 6px;
  }
}

.reviews__legend-emotions {
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }
}

.reviews__items-emotions {
  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }
}

.reviews__legend-attractions {
  padding-top: 17px;
}

.reviews__legend-description {
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-right: 33px;
    padding-left: 115px;

    position: relative;
    bottom: 8px;
    right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    padding-left: 107px;

    right: 33px;
  }
}

.reviews__items {
  padding-right: 20px;
  padding-left: 20px;

  list-style: none;
}

.reviews__items-description {
  margin-top: -5px;
}

.reviews__li {
  margin-left: -1px;

  &:first-child {
    margin-top: 20px;
  }

  &:nth-child(2) {
    margin-top: 18px;
  }

  &:last-child {
    margin-top: 18px;
  }
}

.reviews__li-contact {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
    width: 480px;
  }
}

.reviews__li-emotions {
  &:first-child {
    padding-left: 20px;

    @media (min-width: $tablet-width) {
      padding-left: 20px;

      position: relative;
      top: 36px;
    }

    @media (min-width: $desktop-width) {
      right: 75px;
    }
  }

  &:nth-child(2) {
    padding-top: 11px;
    padding-left: 16px;

    @media (min-width: $tablet-width) {
      padding-top: 57px;
      padding-left: 16px;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      right: 75px;
    }
  }

  &:last-child {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 8px;

    @media (min-width: $tablet-width) {
      padding-top: 20px;
      padding-bottom: 11px;
      padding-left: 8px;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      right: 75px;
    }
  }
}

.reviews__line {
  @media (min-width: $tablet-width) {
    display: block;
    border-right: 1px solid $lighter-grey-one-color;
  }
}

.reviews__li-attractions {
  &:first-child {
    margin-left: -53px;

    @media (min-width: $tablet-width) {
      margin-left: 103px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 45px;
      margin-top: 30px;
    }
  }

  &:nth-child(2) {
    margin-left: -52px;

    padding-top: 23px;

    @media (min-width: $tablet-width) {
      margin-left: -24px;

      position: relative;
      bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -46px;

      position: relative;
      bottom: 6px;
    }
  }

  &:nth-child(3) {
    margin-left: -70px;

    padding-top: 27px;

    @media (min-width: $tablet-width) {
      margin-left: 83px;

      position: relative;
      bottom: 19px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -68px;

      position: relative;
      top: 2px;
      bottom: 19px;
      left: 25px;
    }
  }

  &:last-child {
    margin-left: -41px;

    padding-top: 21px;
    padding-bottom: 11px;

    @media (min-width: $tablet-width) {
      margin-left: -14px;

      position: relative;
      bottom: 19px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -17px;

      position: relative;
      right: 7px;
      bottom: -3px;
    }
  }
}

.reviews__li-description {
  position: relative;
  top: -12px;

  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    top: 35px;
    right: 12px;
  }
}

.reviews__data {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.reviews__data-info {
  @media (min-width: $desktop-width) {
    margin-left: 64px;
  }
}

.reviews__data-description {
  @media (min-width: $tablet-width) {
    margin-left: 23px;

    position: relative;
    bottom: 19px;
  }
}

.reviews__data-contact,
.reviews__data-email {
  flex-wrap: wrap;
}

.reviews__data-email {
  position: relative;

  &::after {
    content: "";
    display: block;

    background-color: $very-light-grey-color;

    width: 58px;
    height: 58px;

    position: absolute;
    top: 35px;
    right: -1px;
  }

  &::before {
    content: "";
    display: block;

    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;

    width: 16px;
    height: 12px;

    position: absolute;
    right: 20px;
    bottom: 25px;

    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      top: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;

    &::after {
      top: 1px;
    }
  }
}

.reviews__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;

  padding-right: 13px;
}

.reviews__label-contact {
  margin-left: -62px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    left: -183px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 26px;

    top: 8px;
    left: 8px;
  }
}

.reviews__label-contact-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__data-phone {
  position: relative;

  &::after {
    content: "";
    display: block;

    background-color: $very-light-grey-color;

    width: 58px;
    height: 58px;

    position: absolute;
    top: 35px;
    right: 0;
    bottom: 0;
  }

  &::before {
    content: "";
    display: block;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;

    width: 18px;
    height: 18px;

    position: absolute;
    right: 17px;
    bottom: 15px;

    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;

    padding-top: 31px;

    &::after {
      top: 41px;
    }
  }
}

.reviews__style-group {
  @media (min-width: $tablet-width) {
    border-top: 1px solid $lighter-grey-one-color;
  }
}

.reviews__legend-special {
  @media (min-width: $tablet-width) {
    width: 308px;

    padding-top: 70px;
    padding-left: 128px;
    padding-right: -4px;

    position: relative;
    right: 61px;
    bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
    padding-right: 10px;
    padding-left: 127px;

    bottom: 25px;
  }
}

.reviews__label-email {
  margin-left: -78px;

  padding-bottom: 7px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    margin-top: 9px;

    padding-top: 3px;

    position: relative;
    bottom: 2px;
    left: -184px;
  }

  @media (min-width: $desktop-width) {
    min-width: 148px;

    left: -7px;
  }
}

.reviews__input {
  width: 100%;
  min-height: 58px;

  padding-left: 22px;

  border: none;

  background-color: $very-lighter-grey-color;

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: $black-color;
  }
}

.reviews__input-special {
  padding-left: 24px;
}

.reviews__input-contact,
.reviews__input-email {
  padding-right: 59px;
}

.reviews__input-contact {
  position: relative;
  top: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    min-width: 232px;
  }
}

.reviews__input-email {
  @media (min-width: $desktop-width) {
    min-width: 232px;
  }
}

.reviews__label-radio {
  margin-right: 26px;

  &:hover {
    cursor: pointer;
  }
}

.reviews__input-radio {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $black-color;
  text-transform: none;

  &:hover {
    cursor: pointer;
  }
}

.reviews__label-checkbox {
  margin-right: 24px;

  &:hover {
    cursor: pointer;
  }
}

.reviews__input-checkbox {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $black-color;
  text-transform: none;

  &:hover {
    cursor: pointer;
  }
}

.reviews__input-user-description {
  width: 100%;
  min-height: 124px;

  padding-top: 9px;
  padding-right: 23px;
  padding-bottom: 21px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    min-width: 103%;

    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-right: 12px;
  }
}

.reviews__button {
  display: flex;
  justify-content: center;

  padding-top: 10px;
  padding-left: 16px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: center;

    padding-top: 46px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
    padding-left: 61px;
    padding-right: 62px;
  }
}

.reviews__pin {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: $white-color;

  width: 100%;

  padding-top: 18.53px;
  padding-bottom: 13.5px;

  background-color: $lite-blue-color;

  border: none;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 324px;

    padding-right: 16px;
  }

  @media (min-width: $desktop-width) {
    min-width: 480px;

    padding-right: 8px;
  }
}

.reviews__line,
.reviews__button-required {
  display: none;
}

.reviews__button-required {
  @media (min-width: $tablet-width) {
    display: block;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: $black-special-color;

    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }
}

.reviews__items-my-data {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-left: 31px;

    position: relative;
    top: 34px;
    left: 50px;
  }
}

.reviews__label-my-data {
  @media (min-width: $tablet-width) {
    padding-right: 14px;
  }
}

.reviews__input-my-data {
  @media (min-width: $tablet-width) {
    min-width: 100px;
  }
}

.reviews__input-user-name {
  @media (min-width: $desktop-width) {
    width: 324px;
    min-width: 0;
    min-height: 55px;

    padding-top: 3px;
  }
}

.reviews__input-user-surname {
  @media (min-width: $desktop-width) {
    width: 286px;
    min-width: 0;
    min-height: 55px;

    padding-top: 6px;
  }
}

.reviews__input-user-patronymic {
  @media (min-width: $desktop-width) {
    width: 288px;
    min-width: 0;
    min-height: 55px;
  }
}

.reviews__items-place {
  @media (min-width: $tablet-width) {
    margin-top: -38px;

    padding-right: 0;
    padding-left: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
