.bottom {
  margin-top: 7px;

  padding-right: 20px;
  padding-left: 20px;

  min-height: 233px;

  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr 1fr;

  // outline: 3px solid $special-border-red-color; // специальные цыета для рамок по заданию
  // outline-offset: -3px; // специальные цыета для рамок по заданию

  @media (min-width: $tablet-width) {
    min-height: 161px;

    margin-top: -43px;

    padding-right: 20px;
    padding-left: 30px;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    margin-top: -47px;

    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;

    position: relative;
    bottom: 5px;

    background-color: $white-color;
  }
}

.bottom-no-js {
  z-index: -1;

  @media (min-width: $tablet-width) {
    min-height: 161px;

    margin-top: -43px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    bottom: 6px;
  }
}

.bottom__form {
  margin-top: 51px;
  margin-left: -4px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    margin-left: 0;

    padding-top: 25px;
    padding-bottom: 0;
  }
}

.bottom__catalog {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;

    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -65px;

    padding-top: 25px;
    padding-bottom: 0;

    position: relative;
    top: 5px;
  }
}

.bottom__catalog-no-js {
  padding-top: 0;
}

.bottom__visit {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  color: $black-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-within {
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    margin-top: 43px;
    margin-left: -44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 38px;
    margin-left: -24px;
  }
}

.bottom__social {
  @media (min-width: $tablet-width) {
    margin-top: -19px;
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -13px;
    margin-right: 2px;
  }
}

.bottom__social-items {
  list-style: none;

  margin-top: 0;

  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-top: 69px;

    padding-left: 4px;
  }
}

.bottom__social-item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.bottom__social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $lite-blue-color;

  &:hover {
    background-color: $dark-blue-color;
  }

  &:active {
    background-color: $darker-blue-one-color;

    .bottom__social-pic {
      opacity: 0.3;
    }
  }
}

.bottom__developer-link {
  &:focus-within {
    .bottom__developer-ico {
      fill: $black-color;

      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: 2px;
    right: 3px;
  }
}

.bottom__social-link-twitter,
.bottom__social-link-youtube {
  width: 46px;
  height: 48px;
}

.bottom__social-link-facebook {
  width: 47px;
  height: 48px;
}

.bottom__social-twitter-pic,
.bottom__social-facebook-pic,
.bottom__social-youtube-pic {
  fill: $white-color;
}

.bottom__developer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: -9px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    margin-left: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 38px;
  }
}

.bottom__developer-developed {
  margin-right: 15px;
}

.bottom__developer-pic {
  margin-top: 5px;

  &:hover {
    .bottom__developer-ico {
      fill: $lite-blue-color;
    }
  }
}

// Firefox fix

@media (min-width: $desktop-width) {
  .bottom__catalog {
    @-moz-document url-prefix("") {
      padding-top: 44px;
    }
  }
}

@media (min-width: $tablet-width) {
  .bottom__form {
    @-moz-document url-prefix("") {
      margin-top: 19px;

      @media (min-width: $desktop-width) {
        margin-top: 5px;
      }
    }
  }
}

// Firefox fix
