.content {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .content {
    margin-top: -55px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    display: grid;
    grid-template-rows: 1fr max-content;
  }
}
