.interesting {
  min-height: 287px;

  padding-right: 20px;
  padding-left: 20px;

  outline: 3px solid $special-border-red-color; // специальные цыета для рамок по заданию
  outline-offset: -3px; // специальные цыета для рамок по заданию
}

.interesting__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interesting__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.interesting__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  padding-right: 9px;
  padding-left: 9px;
}

.interesting__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: $white-color;

  padding-top: 14.5px;
  padding-bottom: 17.5px;

  display: flex;
  justify-content: center;

  background-color: $lite-blue-color;
}

@media (min-width: $tablet-width) {
  .interesting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 318px;
  }

  .interesting__group,
  .interesting__link {
    width: 498px;
  }
}

@media (min-width: $desktop-width) {
  .interesting {
    min-height: 331px;

    background-color: $white-color;
  }
}
