.interesting {
  min-height: 287px;

  padding-top: 22px;
  padding-right: 20px;
  padding-left: 20px;

  // outline: 3px solid $special-border-red-color; // специальные цыета для рамок по заданию
  // outline-offset: -3px; // специальные цыета для рамок по заданию
}

.interesting__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interesting__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.interesting__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  margin-top: 7px;

  padding-right: 9px;
  padding-left: 9px;
}

.interesting__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: $white-color;

  margin-top: 14px;
  margin-right: 10px;
  margin-left: 11px;

  padding-top: 14.5px;
  padding-bottom: 17.5px;

  display: flex;
  justify-content: center;

  background-color: $lite-blue-color;
}

.interesting__info-br {
  display: none;
}

@media (min-width: $tablet-width) {
  .interesting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 0;

    min-height: 318px;
  }

  .interesting__header {
    font-size: 30px;

    margin-top: -26px;

    padding-left: 1px;
  }

  .interesting__info {
    position: relative;
    top: 9px;

    padding-right: 9px;
    padding-left: 9px;
  }

  .interesting__group {
    width: 498px;
  }

  .interesting__link {
    width: 457px;

    position: relative;
    top: 17px;
  }

  .interesting__info-br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .interesting {
    min-height: 331px;

    background-color: $white-color;
  }

  .interesting__group {
    min-height: 164px;
  }

  .interesting__header {
    margin-top: -30px;
  }

  .interesting__info {
    top: 4px;
  }

  .interesting__link {
    top: -21px;
  }
}
