.map {
  margin-top: -18px;

  position: relative;

  display: flex;
  justify-content: center;

  background-color: $lite-grey-color;

  // outline: 3px solid $special-border-lite-green-color; // специальные цыета для рамок по заданию
  // outline-offset: -3px; // специальные цыета для рамок по заданию
}

.map__marker {
  padding-top: 160px;

  position: absolute;
}

@media (min-width: $tablet-width) {
  .map {
    margin-top: 0;
  }

  .map__marker {
    padding-top: 162px;
    padding-right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .map__marker {
    padding-right: 5px;
  }
}
