.map {
  margin-top: -18px;

  position: relative;

  display: flex;
  justify-content: center;

  background-color: $lite-grey-color;

  // outline: 3px solid $special-border-lite-green-color; // специальные цыета для рамок по заданию
  // outline-offset: -3px; // специальные цыета для рамок по заданию
  @media (min-width: $tablet-width) {
    margin-top: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -10px;
  }
}

.map__pic-no-js {
  z-index: 3;

  @media (min-width: $tablet-width) {
    height: 350px;

    object-fit: cover;
  }
}

.map__marker-no-js {
  padding-top: 160px;

  position: absolute;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 162px;
    padding-right: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 5px;
  }
}

.map__hidden {
  display: none;
}

.map__frame {
  border: none;

  width: 100%;
  min-height: 354px;

  z-index: 2;

  @media (min-width: $tablet-width) {
    min-height: 358px;
  }
}

.map__frame-no-js {
  display: none;
}
