.materials {
  margin-top: -115px;

  // outline: 3px solid $special-border-lite-green-color; // специальные цыета для рамок по заданию
  // outline-offset: -3px; // специальные цыета для рамок по заданию

  @media (min-width: $tablet-width) {
    margin-top: -287px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -273px;
  }
}

.materials__triangle {
  display: block;
  background-image: url("../img/triangle-top.svg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;

  max-width: 1201px;
  min-width: 320px;
  height: 57px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/triangle-top-tablet-desktop.svg");
    max-width: 1200px;
  }
}

.materials__block,
.materials__cart {
  border-bottom: 1px solid $very-light-grey-color;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.materials__block {
  margin-top: 33px;

  padding-bottom: 18px;

  @media (min-width: $desktop-width) {
    padding-bottom: 64px;

    background-color: $white-color;
  }
}

.materials__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  padding-right: 12px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    font-size: 30px;

    padding-top: 31px;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
  }
}

.materials__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  padding-top: 14px;
  padding-right: 21px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 161px;
    padding-left: 161px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 381px;
    padding-left: 381px;
  }
}

.materials__block-cart {
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 14px;
  }
}

.materials__cart {
  margin-top: -11px;
}

.materials__lines-scenery-right,
.materials__lines-scenery-left {
  position: absolute;

  background-color: $white-color;

  width: 20px;
  height: 281px;

  @media (min-width: $tablet-width) {
    width: 60px;
    min-height: 403px;
  }
}

.materials__lines-scenery-right {
  top: -1px;
  right: 0;
}

.materials__lines-scenery-left {
  top: -1px;
  left: 0;
}

.materials__scenery {
  display: block;
  background-image: url("../img/scenery-catalog-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;

  max-width: 845px;
  height: 280px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/scenery-catalog-mobile-2x.jpg");
    background-size: 845px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/scenery-catalog-tablet-desktop-1x.jpg");

    max-width: 1204px;
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/scenery-catalog-tablet-desktop-2x.jpg");
      background-size: 1204px auto;
    }
  }
}

.materials__cart-special {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.materials__cart-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/baclground-cart-catalog-desktop-opacity.svg");

    margin-top: -83px;
  }
}

.materials__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  margin-top: 10px;

  padding-right: 91px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;

    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    color: $white-color;
  }
}

.materials__author {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;

  margin-top: -13px;

  padding-right: 125px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    color: $white-color;
  }
}

.materials__social {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 90px;
  }
}

.materials__button-like {
  margin-top: -21px;
  margin-left: -9px;

  padding-right: 1px;

  background: none;

  border: none;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    min-width: 41px;
    min-height: 21px;

    position: relative;
  }
}

.materials__like {
  padding-right: 14px;
  padding-left: 23px;

  @media (min-width: $tablet-width) {
    min-width: 23px;
    min-height: 21px;

    padding-right: 0;
    padding-left: 0;

    position: absolute;
    top: 37px;
    right: 4px;
  }
}

.materials__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  margin-top: 0;

  padding-right: 202px;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    padding-left: 7px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    color: $white-color;
  }
}

.materials__group {
  width: 320px;

  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    width: auto;

    margin-top: -22px;

    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;

    margin-top: -20px;

    padding-right: 0;
    padding-left: 0;
  }
}

.materials__lines {
  position: relative;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.materials__cart-group {
  @media (min-width: $tablet-width) {
    width: calc(100% / 2);

    margin-bottom: -23px;
  }

  @media (min-width: $desktop-width) {
    max-width: calc(100% / 3);
  }
}

.materials__lines-group {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.materials__lines-vegetation-right,
.materials__lines-vegetation-left {
  position: absolute;

  background-color: $white-color;

  width: 20px;
  height: 314px;
}

.materials__lines-vegetation-right {
  right: 0;
}

.materials__lines-vegetation-left {
  left: 0;
}

.materials__vegetation {
  display: block;
  background-image: url("../img/vegetation-catalog-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 33px;
  margin-right: auto;
  margin-left: auto;

  max-width: 426px;
  min-width: 320px;
  height: 280px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/vegetation-catalog-mobile-2x.jpg");
    background-size: 426px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/vegetation-catalog-tablet-1x.jpg");

    max-width: 398px;
    min-width: 309px;
    height: 267px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/vegetation-catalog-tablet-2x.jpg");
      background-size: 398px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/vegetation-catalog-desktop-1x.jpg");

    max-width: 400px;
    height: 267px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/vegetation-catalog-desktop-2x.jpg");
      background-size: 400px auto;
    }
  }
}

.materials__block-think {
  @media (min-width: $tablet-width) {
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.materials__cart-wrapper-one {
  @media (min-width: $tablet-width) {
    background-color: $lite-grey-one-color;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.materials__lines-road-right,
.materials__lines-road-left {
  position: absolute;

  background-color: $white-color;

  width: 20px;
  height: 280px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.materials__lines-road-right {
  right: 0;

  @media (min-width: $tablet-width) {
    width: 60px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.materials__lines-road-left {
  left: 0;
}

.materials__road {
  display: block;
  background-image: url("../img/road-catalog-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;

  max-width: 426px;
  min-width: 320px;
  height: 280px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/road-catalog-mobile-2x.jpg");
    background-size: 426px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/road-catalog-tablet-1x.jpg");

    max-width: none;
    min-width: 326px;
    height: 265px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/road-catalog-tablet-2x.jpg");
      background-size: auto 265px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/road-catalog-desktop-1x.jpg");

    max-width: 400px;
    height: 265px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/road-catalog-desktop-2x.jpg");
      background-size: 400px 265px;
    }
  }
}

.materials__cart-wrapper-two {
  @media (min-width: $tablet-width) {
    background-color: $darker-grey-color;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.materials__lines-bridge-right,
.materials__lines-bridge-left {
  position: absolute;

  background-color: $white-color;

  width: 20px;
  height: 282px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.materials__lines-bridge-right {
  top: -1px;
  right: 0;
}

.materials__lines-bridge-left {
  top: -1px;
  left: 0;
}

.materials__bridge {
  display: block;
  background-image: url("../img/bridge-catalog-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 34px;
  margin-right: auto;
  margin-left: auto;

  max-width: 427px;
  min-width: 320px;
  height: 280px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bridge-catalog-mobile-2x.jpg");
    background-size: 427px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bridge-catalog-tablet-1x.jpg");

    max-width: 398px;
    height: 267px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bridge-catalog-tablet-2x.jpg");
      background-size: 398px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bridge-catalog-desktop-1x.jpg");

    width: 400px;
    min-width: 400px;
    height: 267px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bridge-catalog-desktop-2x.jpg");
      background-size: 400px auto;
    }
  }
}

.materials__info-think {
  @media (min-width: $desktop-width) {
    padding-right: 371px;
    padding-left: 371px;
  }
}

.materials__wrapper-video-pic {
  display: flex;
  justify-content: center;

  margin-top: 33px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-top: 79px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.materials__lines-video-right,
.materials__lines-video-left {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;

    position: absolute;

    background-color: $white-color;

    width: 60px;
    min-height: 510px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.materials__video-pic {
  width: 648px;

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.materials__lines-video-right {
  right: 0;
}

.materials__lines-video-left {
  left: 0;
}

.materials__player {
  position: relative;

  width: 280px;

  margin-top: -52px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: block;

    background-image: url("../img/background-scale-tablet.svg");

    width: 648px;
    max-width: 648px;
    min-width: 648px;
    min-height: 93px;

    margin-top: -100px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    max-width: 800px;
    min-width: 800px;
    min-height: 93px;
  }
}

.materials__range {
  display: block;

  background-image: url("../img/background-scale-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;

  max-width: 280px;
  min-width: 280px;
  min-height: 45px;

  margin-left: -1px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 22px;
    left: 75px;

    width: 100%;
    min-width: 389px;

    background-image: none;

    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    min-width: 540px;
  }
}

.materials__scale {
  position: absolute;
  top: 21px;
  left: 22px;

  &:hover {
    cursor: pointer;
  }
}

.materials__navigation {
  max-width: 280px;
  width: 280px;
  height: 66px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: $lite-grey-one-color;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 13px;

    width: 100%;
    min-width: 648px;

    margin-left: 0;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    min-width: 800px;
  }
}

.materials__button-navigation {
  background: none;

  border: none;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    right: 102px;
  }

  @media (min-width: $desktop-width) {
    right: 167px;
  }
}

.materials__button-navigation-refresh {
  position: absolute;
  left: 20px;

  @media (min-width: $tablet-width) {
    left: 29px;
  }
}

.materials__button-сс {
  position: absolute;
  left: 95px;

  @media (min-width: $tablet-width) {
    left: 1px;
  }

  @media (min-width: $desktop-width) {
    left: 35px;
  }
}

.materials__button-full {
  position: absolute;
  bottom: 4px;
  left: 159px;

  @media (min-width: $tablet-width) {
    bottom: 4px;
    left: 65px;
  }

  @media (min-width: $desktop-width) {
    bottom: 7px;
    left: 96px;
  }
}

.materials__-button-slider {
  position: absolute;
  top: 15px;
  left: 52px;

  background: none;

  border: none;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    top: 16px;
    left: 125px;
  }

  @media (min-width: $desktop-width) {
    top: 15px;
    left: 125px;
  }
}

.materials__navigation-group {
  min-height: 30px;

  padding-top: 7px;
  padding-left: 132px;

  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 100px;

    padding-left: 0;

    position: relative;
    left: 243px;
  }

  @media (min-width: $desktop-width) {
    left: 284px;
  }
}
