.materials {
  margin-top: -57px;

  outline: 3px solid $special-border-lite-green-color; // специальные цыета для рамок по заданию
  outline-offset: -3px; // специальные цыета для рамок по заданию
}

.materials__triangle {
  display: block;
  background-image: url("../img/triangle-top.svg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;

  max-width: 1201px;
  min-width: 320px;
  height: 57px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/triangle-top-tablet-desktop.svg");
    max-width: 1199px;
  }
}

.materials__block,
.materials__cart {
  border-bottom: 1px solid $very-light-grey-color;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.materials__group {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;

    padding-right: 0;
    padding-left: 0;
  }
}

.materials__lines-group {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.materials__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  padding-right: 12px;
  padding-left: 12px;
}

.materials__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14, 06px;
  text-align: center;

  padding-right: 40px;
  padding-left: 40px;
}

.materials__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  padding-right: 91px;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    color: $white-color;
  }
}

.materials__author {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;

  padding-right: 125px;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    color: $white-color;
  }
}

.materials__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  padding-right: 202px;

  @media (min-width: $desktop-width) {
    color: $white-color;
  }
}

.materials__lines {
  position: relative;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.materials__lines-scenery-right,
.materials__lines-scenery-left {
  position: absolute;

  background-color: $white-color;

  width: 20px;
  height: 260px;

  @media (min-width: $tablet-width) {
    width: 60px;
    min-height: 400px;
  }
}

.materials__lines-scenery-right {
  right: 0;
}

.materials__lines-scenery-left {
  left: 0;
}

.materials__scenery {
  display: block;
  background-image: url("../img/scenery-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;

  max-width: 845px;
  height: 260px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/scenery-tablet-desktop-catalog.jpg");

    max-width: 1204px;
    height: 400px;
  }
}

.materials__vegetation {
  display: block;
  background-image: url("../img/vegetation-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;

  max-width: 426px;
  min-width: 320px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/vegetation-tablet-catalog.jpg");

    max-width: 398px;
    min-width: 309px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/vegetation-desktop-catalog.jpg");

    max-width: 400px;
    height: 267px;
  }
}

.materials__lines-vegetation-right,
.materials__lines-vegetation-left {
  position: absolute;

  background-color: $white-color;

  width: 20px;
  height: 280px;
}

.materials__lines-vegetation-right {
  right: 0;
}

.materials__lines-vegetation-left {
  left: 0;
}

.materials__road {
  display: block;
  background-image: url("../img/road-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;

  max-width: 426px;
  min-width: 320px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/road-tablet-catalog.jpg");

    max-width: 399px;
    min-width: 399px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/road-desktop-catalog.jpg");

    max-width: 400px;
    height: 267px;
  }
}

.materials__lines-road-right,
.materials__lines-road-left {
  position: absolute;

  background-color: $white-color;

  width: 20px;
  height: 280px;
}

.materials__lines-road-right {
  right: 0;

  @media (min-width: $tablet-width) {
    width: 60px;

    margin-right: -60px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.materials__cart-group {
  @media (min-width: $tablet-width) {
    width: calc(100% / 2);
  }

  @media (min-width: $desktop-width) {
    max-width: calc(100% / 3);
  }
}

.materials__cart-special {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.materials__cart-wrapper-one {
  @media (min-width: $tablet-width) {
    background-color: $lite-grey-one-color;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.materials__cart-wrapper-two {
  @media (min-width: $tablet-width) {
    background-color: $darker-grey-color;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.materials__cart-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/baclground-cart-catalog-desktop-opacity.svg");

    margin-top: -90px;
  }
}

.materials__lines-road-left {
  left: 0;
}

.materials__bridge {
  display: block;
  background-image: url("../img/bridge-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: auto;
  margin-left: auto;

  max-width: 427px;
  min-width: 320px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bridge-tablet-catalog.jpg");

    max-width: 398px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bridge-desktop-catalog.jpg");

    width: 400px;
    min-width: 400px;
    height: 267px;
  }
}

.materials__lines-bridge-right,
.materials__lines-bridge-left {
  position: absolute;

  background-color: $white-color;

  width: 20px;
  height: 280px;
}

.materials__lines-bridge-right {
  right: 0;
}

.materials__lines-bridge-left {
  left: 0;
}

.materials__social {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 90px;
  }
}

.materials__button-like {
  background: none;

  border: none;
}

.materials__like {
  padding-right: 14px;
  padding-left: 20px;
}

.materials__wrapper-video-pic {
  display: flex;
  justify-content: center;
}

.materials__player {
  position: relative;

  width: 280px;

  margin-top: -39px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: block;

    background-image: url("../img/background-scale-tablet.svg");

    width: 648px;
    max-width: 648px;
    min-width: 648px;
    min-height: 93px;

    margin-top: -100px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    max-width: 800px;
    min-width: 800px;
    min-height: 93px;
  }
}

.materials__range {
  display: block;

  background-image: url("../img/background-scale-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;

  max-width: 280px;
  min-width: 280px;
  min-height: 45px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 22px;
    left: 75px;

    width: 100%;
    min-width: 389px;

    background-image: none;

    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    min-width: 540px;
  }
}

.materials__scale {
  position: absolute;
  top: 21px;
  left: 22px;
}

.materials__-button-slider {
  position: absolute;
  top: 15px;
  left: 52px;

  background: none;

  border: none;

  @media (min-width: $desktop-width) {
    left: 128px;
  }
}

.materials__button-navigation {
  background: none;

  border: none;

  @media (min-width: $tablet-width) {
    position: relative;
    right: 102px;
  }

  @media (min-width: $desktop-width) {
    right: 167px;
  }
}

.materials__navigation {
  max-width: 280px;
  width: 280px;
  height: 66px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: $lite-grey-one-color;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 13px;

    width: 100%;
    min-width: 648px;

    margin-left: 20px;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    min-width: 800px;
  }
}

.materials__navigation-group {
  padding-left: 103px;

  @media (min-width: $tablet-width) {
    padding-left: 0;

    position: relative;
    left: 192px;
  }

  @media (min-width: $desktop-width) {
    left: 284px;
  }
}

.materials__block {
  @media (min-width: $desktop-width) {
    background-color: $white-color;
  }
}
