// Навигационное меню (закрытое) start //
.menu-hide {
  min-height: 56px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu-hide__hide-top {
  margin-top: -209px;
}

.menu-hide__hide {
  position: relative;

  display: flex;
  justify-content: center;

  min-height: 56px;

  margin-top: -14px;

  padding-right: 20px;
  padding-left: 20px;

  // outline: 3px solid $special-border-lite-green-color; // специальные цыета для рамок по заданию
  // outline-offset: -3px; // специальные цыета для рамок по заданию
}

.menu-hide__hide-add {
  margin-top: -74px;
  z-index: -1;
}

.menu-hide__button-burger {
  position: absolute;
  top: 15px;
  right: 14px;

  background: none;

  border: none;

  &:hover {
    cursor: pointer;
  }
}

// если js не актиыен\сломался и тп
.menu-hide__burger-hidden {
  display: none;
}

.menu-hide-hidden {
  margin-top: -73px;
}

.menu-hide__logo-hidden {
  position: relative;
  top: 59px;
}
// если js не актиыен\сломался и тп

// Навигационное меню (закрытое) end //
