// Навигационное меню (закрытое) start //
.menu-hide__hide {
  position: relative;

  display: flex;
  justify-content: center;

  min-height: 56px;

  margin-top: -14px;

  padding-right: 20px;
  padding-left: 20px;

  outline: 3px solid $special-border-lite-green-color; // специальные цыета для рамок по заданию
  outline-offset: -3px; // специальные цыета для рамок по заданию
}

.menu-hide__hide-add {
  margin-top: -74px;
  z-index: -1;
}

.menu-hide__button-burger {
  position: absolute;
  top: 17px;
  right: 20px;

  background: none;

  border: none;
}

.menu__hidden {
  display: none;
}
// Навигационное меню (закрытое) end //
