.sedona {
  background-color: $lite-grey-color;
  background-image: url("../img/background-form-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -57px;

  margin-top: -35px;
  margin-right: auto;
  margin-left: auto;

  max-width: 902px;
  min-width: 320px;
  height: 214px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-form-mobile-2x.jpg");
    background-size: 902px auto;
    background-position-y: -229px;
  }

  // outline: 3px solid $special-border-blue-color; // специальные цыета для рамок по заданию
  // outline-offset: -3px; // специальные цыета для рамок по заданию

  @media (min-width: $tablet-width) {
    background-image: url("../img/background-tablet-desktop-form-1x.jpg");
    background-position-y: -229px;

    margin-top: -2px;

    width: 100%;
    max-width: 100%;
    min-width: 768px;
    min-height: 291px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-tablet-desktop-form-2x.jpg");
      background-size: 1200px 519px;
    }
  }

  @media (min-width: $desktop-width) {
    background-position-y: -215px;
  }
}

.sedona__wrapper {
  padding-top: 52px;
  padding-right: 20px;
  padding-bottom: 67px;
  padding-left: 19px;

  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-top: 93px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}
