.sedona {
  background-color: $lite-grey-color;
  background-image: url("../img/background-mobile-form.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin-top: -35px;
  margin-right: auto;
  margin-left: auto;

  max-width: 902px;
  min-width: 320px;
  height: 214px;

  outline: 3px solid $special-border-blue-color; // специальные цыета для рамок по заданию
  outline-offset: -3px; // специальные цыета для рамок по заданию
}

.sedona__wrapper {
  padding-top: 108px;
  padding-right: 20px;
  padding-bottom: 67px;
  padding-left: 20px;

  display: flex;
  justify-content: center;
}
