.social__items {
  list-style: none;

  padding-left: 0;

  display: flex;
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $lite-blue-color;
}

.social__link-twitter,
.social__link-youtube {
  width: 46px;
  height: 48px;
}

.social__link-facebook {
  width: 47px;
  height: 48px;
}
