// параметры

// цвет
$lite-blue-color: #81b3d2;
$lite-grey-color: #fcfcfc;

$lighter-blue-color: #9ac2db;
$lighter-grey-color: #d6d6d6;

$darker-blue-color: #678fa8;

$black-color:#000000;
$white-color:#ffffff;
$grey-color:#eeeeee;
// цвет

// специальные цыета для рамок по заданию
$special-border-red-color: #ff0000;
$special-border-lite-green-color: #5aff00;
$special-border-blue-color: #0600ff;
// специальные цыета для рамок по заданию

// шрифт
$main-font: "Open Sans", "Arial", sans-serif;
// шрифт

// ширина экрана
$tablet-width: 660px; // main
$desktop-width: 940px; // main
// ширина экрана

// параметры
